/* ====================================================
   4.3 TABLAS DE DATOS
   ==================================================== */

.contenedor-gestion-solicitudes .card {
    background-color: white;
}

.tabla-datos td {
    vertical-align: middle;
}

.tabla-solicitudes {
    background-color: white;
    width: 100%;
    border-radius: 8px;
}

.tabla-solicitudes th {
    background-color: #f8f9fa;
    font-weight: 600;
    padding: 12px;
}

.tabla-solicitudes td {
    padding: 12px;
}